.pagecrm_crm__img-block {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.pagecrm_crm__title {
  position: absolute;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
  margin: 46px 0 0 0;
  top: -30px;
}

.pagecrm_crm__img {
  width: 300px;
  height: auto;
  object-fit: contain;
  z-index: 2;
  margin: 16vw 0;
}

.pagecrm_crm__lines {
  position: absolute;
  width: calc(100% + 20px);
  width: 100%;
  height: auto;
  z-index: 1;
  display: block;
  object-fit: cover;
  transform: translateX(-10px); /* Смещение изображения влево */
}

.pagecrm_crm__btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 40px;
  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(rgba(177, 149, 255, 1), rgba(177, 149, 255, 1)) padding-box,
    linear-gradient(to right, #ca8eff, #a1b4ef, #74dfdd, #59f8d2) border-box;
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px 0px rgb(215, 149, 255);
  backdrop-filter: blur(100px);
}

.pagecrm_crm__btn:hover {
  box-shadow: 0px 0px 20px 0px rgb(139, 255, 255);
}

.pagecrm_crm__btn:active {
  box-shadow: 0px 0px 10px 0px rgb(215, 149, 255);
}

@media screen and (min-width: 361px) {
  .pagecrm_crm__title {
    font-size: 42px;
    /* top: 20px; */
  }

  .pagecrm_crm__img-block {
    padding: 15px;
  }
  .pagecrm_crm__lines {
    left: -15px;
    right: -15px;
    width: calc(100% + 30px);
  }

  .pagecrm_crm__img {
    width: 70vw;
    height: auto;
    object-fit: cover;
    z-index: 2;
    margin: 16vw 0;
  }
}

@media screen and (min-width: 759px) {
  .pagecrm_crm__img-block {
    margin: 0;
  }

  .pagecrm_crm__img {
    width: 42vw;
    margin: 18vw 0;
  }

  .pagecrm_crm__lines {
    top: -5vw;
  }

  .pagecrm_crm__title {
    font-size: 46px;
    font-weight: 700;
    line-height: 46px;
    margin: 0;
    top: 5vw;
  }

  .pagecrm_crm__btn {
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 15px 30px;
    border-radius: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .pagecrm_crm__btn {
    transform: translateY(-5vw);
  }
}

@media screen and (min-width: 1500px) {
  .pagecrm_crm__img {
    margin: 18vw 0 15vw;
  }
  .pagecrm_crm__btn {
    transform: translateY(-10vw);
  }
}

@media screen and (min-width: 1600px) {
  .pagecrm_crm__img {
    margin: 18vw 0 14vw;
  }
}
